.space{
    margin-bottom: 30px;
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 0.34rem;
    object-fit: cover;
}

.image_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_div label{
    display: block;
    width: 100px;
    height: 30px;
    padding-top: 3px;
    color: white;
    text-align: center;
    margin: 20px 0 0 0 ;
    border-radius: 5px;
    background-color:#3b3b3d;
    cursor: pointer;
}

.image_div input{
    display: none;
}

.teacher_info select{
    width: 500px;
}

.add_assistant{
    display: flex;
    justify-content: start;
    align-items: center;
}

.add_assistant i{
    margin-left: 20px;
    color: #888;
    border: 2px solid #888;
    padding: 5px;
    border-radius: 50%;
}