
::-webkit-scrollbar {
    width: 0;  
}

#align_button{
    margin-top: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}

#align_button button, #align_button a{
    width: 10%;
}

.cancel{
    color: #fff;
    text-decoration: none;
}

.space{
    margin-bottom: 0;
    margin-right: 30px;
}   