body{
    color: #444;
    font-size: 20px;
}

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:370px;
    background-color: #eee;    
    border-radius: 10px;
    box-shadow: 1px 1px 0px rgba(205, 204, 204, 0.702);

}

.container form{
    display: flex;
    justify-content: center; /*y-axis */
    flex-direction: column;
    align-items: center;
}

.container form div h2{
    padding: 20px 0 0 0;
    text-align: center;
}

.container form div hr{
    border-color: aliceblue;
    padding-bottom: 10px;
}

.container form div span{
    font-size: 16px;
    color: crimson;
    display: block;
}

.container form div{
    width: 100%;
}

.container form div:last-child{
    margin:0 0 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container form div button{
    width:50%;
}

.center{
    text-align: center;
}

.password_field{
    position: relative;
}

#password_icon, .password_icon{
    position: absolute;
    right: 5%;
    bottom:15%;
    color:#555;
}

#align_button{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
#align_button button{
    width: 30%;
}

.cancel{
    color: #fff;
    text-decoration: none;
}